<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Code Editor</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="mobile"><h2>This is for desktop only</h2></div>
    <div class="login-container">
        <h2>Create an account</h2>
        <form action="/register" method="POST">
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Sign Up</button>
        </form>
        <div class="toggle-form">
            <p>Already have an account? <a href="/login">Log in</a></p>
        </div>
    </div>
</body>
</html>